# Compiled Object files
*.slo
*.lo
*.o
*.obj

# remove Xcode 
*.xcuserdatad
*.DS_Store

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/sampleCodes/Hash/hash/*.db
/sampleCodes/Hash/hash/.vs/hash/v14/*.suo
/sampleCodes/BST/.vs
/sampleCodes/BST/Debug
/sampleCodes/BST/*.db
/sampleCodes/BST/*.opendb
/sampleCodes/BST/BST/x64/Debug/*.log
/sampleCodes/BST/BST/x64/Debug/BST.tlog/*.lastbuildstate
/sampleCodes/BST/BST/x64/Debug/BST.tlog/*.tlog
/sampleCodes/BST/BST/x64/Debug/*.enc
/sampleCodes/BST/BST/x64/Debug/*.idb
/sampleCodes/BST/BST/x64/Debug/*.pdb
/sampleCodes/BST/x64/Debug/*.ilk
/sampleCodes/BST/x64/Debug/*.pdb
/sampleCodes/c/TestProject/QuickSortPointer/QuickSortPointer/x64
/sampleCodes/c/TestProject/QuickSortPointer/x64
/sampleCodes/c/TestProject/QuickSortPointer/.vs/QuickSortPointer/v14/*.suo
/sampleCodes/c/TestProject/QuickSortPointer/*.opendb
/sampleCodes/c/TestProject/QuickSortPointer/*.db
/sampleCodes/Hash/hash/x64
/sampleCodes/Hash/hashTable/hashTable/Debug
/sampleCodes/Hash/hashTable/hashTable/hashTable/Debug
