@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <input type="text" id="HomeAddress">
    <ul><text id="showResult"> </ul>
    <ul><text id="showResult2"> </ul>
    <ul><text id="showResult3"> </ul>
    <ul><text id="showResult4"> </ul>
    <ul><text id="showResult5"> </ul>

    <!-- this is first part of development for driver license scanner. This item is the html holder
        by today, i have not seen Production code. So, I am confident that the way html tags are being built
        here will be adjusted, the way the javascript files are being deployed will be also adjusted
        based on newgen input.
        This is a pure research project for the Enliven to identify how they can integrate this service
        into their home page
        -->
    @*
         <input id="cameraTag" type="file" accept="video/*;capture=camcorder">
         <input id="micTag" type="file" accept="audio/*;capture=microphone">
        **@
    <video autoplay></video>
    <img src="">
    <canvas style="display:none;"></canvas>
</div>